@model WcuStudentApp.Models.StudentMajorViewModel

@{
    ViewData["Title"] = "Index";
}

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
        <img src="~/images/SlideOne.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
        <img src="~/images/SlideTwo.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
        <img src="~/images/SlideFour.jpeg" class="d-block w-100" alt="...">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    </div>

<p></p>
<form asp-controller="Students" asp-action="Index" method="get">
    <p>
        <select asp-for="StudentMajor" asp-items="Model.Majors">
            <option value="">All Majors</option>
        </select>
        Last Name: <input type="text" name="StudentLastName">
        First Name: <input type="text" name="StudentFirstName">
        <input class="btn btn-secondary" type="submit" value="Search" />
        <a asp-action="Create"><button type="button" class="btn btn-success" >Add Student</button></a>
    </p>
</form>

<div class="table-responsive">
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Students[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Students[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Students[0].Major)
            </th>
            <th align="right">Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Students) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Major)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
